.App {
  text-align: center;
}

.contactWrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  grid-gap: 20px;
  text-align: left;
  margin-top: 15px;
}
.contactWrapper p {
  margin: 0 0 5px 0;
}
.contact {
  max-width: 350px;
  background: #f5f5f5;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #aaa;
}
.btn-block button {
  margin-right: 5px;
}
button {
  cursor: pointer;
  border: none;
  margin: 0;
  background: rgb(222, 219, 219);
  padding: 5px 20px;
}
.remove {
  background: rgb(169, 35, 35);
  color: #fff;
  padding: 5px 12px;
  border: none;
}
.add-contact {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  margin-top: 15px;
  max-width: 1300px;
  margin: 15px auto 0 auto;
}
input {
  margin: 0 0 8px 0;
  padding: 10px;
}
.add-contact button,
.add-contact input {
  width: 100%;
  box-sizing: border-box;
  display: block;
}
.add-contact button {
  height: 38px;
  border: 1px solid #000;
}
.form-row {
  max-width: 300px;
}
.edit-contact {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
}
.edit-contact li {
  list-style: none;
}
